<section class="showcase">
  <div class="container grid">
    <div class="showcase-text">
      <h2>Discover a world of music o ne beat at a time, with Cultural Cadence</h2>
      <p> CulturalCadence is a dynamic web app that connects people through the universal language of music. It provides a space for diverse cultural exploration, sharing and connecting over musical interests. </p>
    </div>

    <div class="showcase-form card">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-control">
          <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-control">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="form-control">
          <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "new-password" %>
        </div>

        <div class="form-control flex">
            <%= f.select(:region, options_for_select([["Region",""], "AF", "AN", "AS", "EU", "NA", "OC", "SA"])) %>
            <%= f.submit "Sign up", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div> 
  </div>
</section>
