
<h1>Select Your Top Five!</h1>
<%= form_for(current_user, url: user_update_path(current_user)) do |f| %> 
 

  <div class="field">
  <%=f.hidden_field :id, value: current_user.id%>
    <%= f.label :rank1 %><br />
    <%= f.select :rank1, options_from_collection_for_select(Music.all, :id, :song_name), { include_blank: true } %>
  </div>

  <div class="field">
    <%= f.label :rank2 %><br />
    <%= f.select :rank2, options_from_collection_for_select(Music.all, :id, :song_name), { include_blank: true } %>
  </div>

  <div class="field">
    <%= f.label :rank3 %><br />
    <%= f.select :rank3, options_from_collection_for_select(Music.all, :id, :song_name), { include_blank: true } %>
  </div>

  
  <div class="field">
    <%= f.label :rank4 %><br />
    <%= f.select :rank4, options_from_collection_for_select(Music.all, :id, :song_name), { include_blank: true } %>
  </div>
 
 
  <div class="field">
    <%= f.label :rank5 %><br />
    <%= f.select :rank5, options_from_collection_for_select(Music.all, :id, :song_name), { include_blank: true } %>
  </div>


  <br>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>

  
<% end %>

<br>

<%= link_to "Back", :back %>
