<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sortable: `put: []` demo</title>

    <!-- Sortable.js -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

    <style>
      ul {
        list-style: none;
        padding: 0;
      }
      
      li {
        background: #eee;
        margin: 1px;
        padding: 5px 10px;
      }
      
      .sortable-ghost {
        opacity: .6;
      }
    </style>
  </head>
  <body>
      <%= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" %>

      <%= form_for music_path, method: :post  do |f| %>
        <ol id="foo">
  <% for i in 1..5 do %> 
    <li>
      
      <select id="autocomplete_select_<%= i %>">
        <% @options.each do |option| %>
          <option value="<%= option["song_name"] %>">
            <%= option["song_name"] %>
          </option>
        <% end %>
      </select>
    </li>
  <% end %>
</ol>

        <%= f.submit "Submit" %>
      <% end %>
      
    
  </body>

  <script>
    Sortable.create(foo, {
      group: 'foo',
      animation: 100
    });

  </script>
  <script>
  $(document).ready(function() {
    $('#autocomplete_select').autocomplete({
      source: <%= raw @options.to_json %>
    });
  });
</script>

</html>